 /* Single-line legend style */
  .single-line-legend {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    padding: 0.5rem;
    border-top: 1px solid #e0e0e0;
    font-size: 0.75rem;
  }
  
  .single-line-legend .legend-item {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
  
  .single-line-legend .legend-color {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
  }
  
  .single-line-legend .legend-color.inner, .single-line-legend .legend-color.outer {
    border: 1px dashed #ccc;
  }
  
  .single-line-legend .legend-label {
    font-size: 0.7rem;
    white-space: nowrap;
  }

  .legend-color.outer.inward {
    background-color: '#52524f';
  }

  .legend-color.outer.outward {
    background-color: '#868686';
  }

  .legend-color.inner.success {
    background-color: '#00d157';
  }

  .legend-color.inner.failure {
    background-color: '#ff513d';
  }

.spinner-chart {
    width: 1.875rem;  // 30px
    height: 1.875rem; // 30px
    border: 0.1875rem solid rgba(0, 0, 0, 0.1); // 3px
    border-top-color: #060707;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    margin-bottom: 0.625rem; // 10px
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  .loading-indicator-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    margin-top: 2rem;
    height: 9.375rem; // 150px
  }

  .error-message-chart {
    color: #e74c3c;
    text-align: center;
    margin-top: 7rem;
  }
  
  .error-message-chart button {
    background: #050505;
    color: white;
    border: none;
    padding: 0.3125rem 0.9375rem; // 5px 15px
    border-radius: 0.25rem; // 4px
    cursor: pointer;
    margin-top: 0.625rem; // 10px
  }
  
  .error-message-chart button:hover {
    background: #3f4041;
  }
