/* Add to your CSS */

.no-data-message-activity {
    color: #7f8c8d;
    font-style: italic;
    padding: 6rem 0 0 8.5rem;
    font-size: 1rem;
  }

.viewAllButtonContainer {
    margin-left: auto;
    margin-right: 1rem;
    margin-bottom: 0.6rem;
  }
  
  .viewAllButton {
    background-color: #090909;
    color: white;
    border: none;
    padding: 4px 9px;
    border-radius: 5rem;
    font-size: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease;
  }

  .viewAllButton:hover {
    background-color: #2a2b2c;;
  }

.loading-indicator-activity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    height: 10rem;
    gap: 0.75rem;
  }

  .loading-text {
    font-size: 1rem;
    color: #0c0c0c;
  }
  
  .spinner-activity {
    width: 30px;
    height: 30px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-top-color: #1e1f20;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  .error-message-activity {
    color: #e74c3c;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin-top: 6.5rem;
  }
  
  .error-message-activity button {
    background: #070707;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .error-message-activity button:hover {
    background: #3f4041;
  }
